version: '3.9'
services:
  {{ app_container_name }}:
    container_name: {{ app_container_name }}
    hostname: {{ app_container_name }}
    image: {{ docker_proxy_repo }}{{ app_image }}:{{ app_image_label }}
    restart: always
    environment:
      CONTAINER_ROLE: scheduler
      HOST_CACHE_ROOT_DIR: "{{ data_dir }}"
      SELF_CACHE_ROOT_DIR: "{{ data_dir }}"
      SELF_DELIVERY_API: "{{ api_url }}"
      SELF_TOKEN: "{{ self_token }}"
      SELF_USER_SERVER_SSH_LOGIN: "{{ self_user_server_ssh_login }}"
      SELF_USER_SERVER_SSH_CERT: "{{ self_user_server_ssh_cert }}"
      SELF_USER_SERVER_SSH_HOST: "{{ self_user_server_ssh_host }}"
      QBT_LOGIN: "{{ qbt_login }}"
      QBT_PASSWORD: "{{ qbt_password }}"
      QBT_URL: "{{ qbt_url }}"
      UPLOAD_HOSTNAME: "{{ upload_hostname }}"
      UPLOAD_PORT: "{{ upload_port }}"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - /etc/localtime:/etc/localtime
      - /etc/timezone:/etc/timezone
      - {{ app_files_dir }}/{{ ssh_cert_name }}:{{ self_user_server_ssh_cert }}
      - {{ data_dir }}:{{ data_dir }}
      - {{ app_logs_dir }}:/app/api/storage/logs
    tmpfs:
      - /tmp

  qbittorrent:
    image: {{ docker_proxy_repo }}saberinteractive/qbittorrent:latest
    container_name: qbittorrent
    hostname: qbittorrent
    restart: always
    network_mode: host
    cap_add:
      - ALL
    volumes:
      - /etc/localtime:/etc/localtime
      - /etc/timezone:/etc/timezone
      - {{ qbt_profiles_dir }}:/opt/qbittorrent/profiles
      - {{ data_dir }}:{{ data_dir }}
    environment:
      QBT_PROFILE_NAME: "{{ qbt_profile_name }}"
      QBT_PORT_WEBUI: "{{ qbt_port_webui }}"
      QBT_PORT_NAT: "{{ qbt_port_nat }}"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    tmpfs:
      - /tmp
