[Application]
MemoryWorkingSetLimit=0

[AutoRun]
OnTorrentAdded\Enabled=false
OnTorrentAdded\Program=
enabled=false
program=

[BitTorrent]
Session\AddTrackersEnabled=false
Session\AdditionalTrackers=
Session\AlternativeGlobalDLSpeedLimit=0
Session\AlternativeGlobalUPSpeedLimit=0
Session\AnnounceIP=
Session\AnnounceToAllTrackers=true
Session\AsyncIOThreadsCount=90
Session\BTProtocol=TCP
Session\CheckingMemUsageSize=512
Session\ChokingAlgorithm=RateBased
Session\CoalesceReadWrite=true
Session\ConnectionSpeed=100
Session\DHTEnabled=false
Session\DefaultSavePath={{ data_dir }}
Session\DiskQueueSize=2097152
Session\Encryption=0
Session\ExcludedFileNames=
Session\HashingThreadsCount=25
Session\IDNSupportEnabled=true
Session\IgnoreLimitsOnLAN=true
Session\InterfaceAddress=
Session\LSDEnabled=true
Session\MaxConcurrentHTTPAnnounces=2048
Session\MaxConnections=-1
Session\MaxConnectionsPerTorrent=-1
Session\MaxUploads=-1
Session\MaxUploadsPerTorrent=-1
Session\MultiConnectionsPerIp=true
Session\PeXEnabled=true
Session\PeerToS=5
Session\PeerTurnover=99
Session\PeerTurnoverCutOff=99
Session\PieceExtentAffinity=true
Session\Port=1337
Session\Preallocation=true
Session\QueueingSystemEnabled=false
Session\ReannounceWhenAddressChanged=true
Session\SSRFMitigation=false
Session\SaveResumeDataInterval=1
Session\SeedChokingAlgorithm=AntiLeech
Session\SuggestMode=true
Session\UseAlternativeGlobalSpeedLimit=false
Session\ValidateHTTPSTrackerCertificate=false
Session\uTPMixedMode=TCP
Session\uTPRateLimited=false
TrackerEnabled=false

[Core]
AutoDeleteAddedTorrentFile=Never

[Meta]
MigrationVersion=4

[Network]
Cookies=@Invalid()
PortForwardingEnabled=false
Proxy\OnlyForTorrents=false

[Preferences]
Advanced\AnnounceToAllTrackers=true
Advanced\IgnoreLimitsLAN=true
Advanced\RecheckOnCompletion=false
Advanced\trackerPort=9000
Advanced\trackerPortForwarding=false
Bittorrent\AddTrackers=true
Bittorrent\Encryption=1
Bittorrent\MaxConnecs=10000
Bittorrent\MaxConnecsPerTorrent=10000
Bittorrent\MaxUploads=10000
Bittorrent\MaxUploadsPerTorrent=10000
Bittorrent\TrackersList=
Bittorrent\uTP_rate_limited=false
Connection\GlobalDLLimitAlt=0
Connection\GlobalUPLimitAlt=0
Connection\PortRangeMin=61497
Connection\ResolvePeerCountries=true
Connection\alt_speeds_on=false
DynDNS\DomainName=changeme.dyndns.org
DynDNS\Enabled=false
DynDNS\Password=
DynDNS\Service=DynDNS
DynDNS\Username=
General\Locale=en
General\UseRandomPort=true
MailNotification\email=
MailNotification\enabled=false
MailNotification\password=
MailNotification\req_auth=true
MailNotification\req_ssl=false
MailNotification\sender=qBittorrent_notification@example.com
MailNotification\smtp_server=smtp.changeme.com
MailNotification\username=
Queueing\QueueingEnabled=false
WebUI\Address=*
WebUI\AlternativeUIEnabled=false
WebUI\AuthSubnetWhitelist=172.20.0.0/16
WebUI\AuthSubnetWhitelistEnabled=false
WebUI\BanDuration=1
WebUI\CSRFProtection=true
WebUI\ClickjackingProtection=true
WebUI\CustomHTTPHeaders=
WebUI\CustomHTTPHeadersEnabled=false
WebUI\HTTPS\CertificatePath=
WebUI\HTTPS\Enabled=false
WebUI\HTTPS\KeyPath=
WebUI\HostHeaderValidation=false
WebUI\LocalHostAuth=false
WebUI\MaxAuthenticationFailCount=999
WebUI\Password_PBKDF2="@ByteArray({{ qbt_password_hashed.stdout_lines }})"
WebUI\Port=8282
WebUI\ReverseProxySupportEnabled=false
WebUI\RootFolder=
WebUI\SecureCookie=true
WebUI\ServerDomains=*
WebUI\SessionTimeout=72000
WebUI\TrustedReverseProxiesList=
WebUI\UseUPnP=false
WebUI\Username={{ qbt_login }}

[RSS]
AutoDownloader\DownloadRepacks=false
AutoDownloader\SmartEpisodeFilter=s(\\d+)e(\\d+), (\\d+)x(\\d+), "(\\d{4}[.\\-]\\d{1,2}[.\\-]\\d{1,2})", "(\\d{1,2}[.\\-]\\d{1,2}[.\\-]\\d{4})"
